<%- include('partials/head') %>

<div class="container">
  <h1>Browsing the <%= name %> subreddit</h1>
  <h2><%= description %> </h2>
  <p><%= subscribers %> total subscribers</p>
  <hr>
  <h3>Post:</h3>
  <hr>

  <section>
    <% for (let post of posts) {%>
    <article class="post">
      <p><strong><%= post.title %></strong> - <%= post.author %> </p>
      <% if (post.img) { %>
      <img src="<%= post.img %>" alt="">
      <% } %>
      <hr>
    </article>
    <% } %>
  </section>
</div>

</body>

</html>
