<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/starability.css">
<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="/css/maps.css">

<div class="row">
  <div class="col-6">

    <div class="card">

      <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% campground.images.forEach((image, i) => {%>
          <div class="carousel-item <%= i === 0 ? 'active' : ''  %>">
            <img src="<%= image.url %> " class="d-block w-100" alt="">
          </div>
          <% }); %>
        </div>
        <% if (campground.images.length > 1) { %>
        <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
        <% } %>
      </div>

      <div class="card-body">
        <h5 class="card-title"><%= campground.title %> </h5>
        <h6 class="text-muted"><%= campground.location %> </h6>
        <p class="card-text"><%= campground.description %> </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price per night: $<%= campground.price %> </li>
      </ul>
      <% if (currentUser && campground.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-warning">Edit Campground</a>
        <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=delete" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">
        Submited by <%= campground.author.username %> 2 days ago
      </div>
    </div>
    <a href="/campgrounds" class="btn btn-secondary my-3">All campgrounds</a>
  </div>

  <div class="col-6">

    <div id="map" class="map mb-5 rounded border"></div>

    <% if (currentUser) { %>
    <h3>Leave a review!</h3>

    <form action="/campgrounds/<%= campground._id %>/reviews" method="POST" novalidate class="validated-form mb-5">
      <div class="mb-3">
        <fieldset class="starability-basic">
          <legend>Rating:</legend>
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
          <input type="radio" id="rate1" name="review[rating]" value="1" />
          <label for="rate1" title="Terrible">1 star</label>
          <input type="radio" id="rate2" name="review[rating]" value="2" />
          <label for="rate2" title="Not good">2 stars</label>
          <input type="radio" id="rate3" name="review[rating]" value="3" />
          <label for="rate3" title="Average">3 stars</label>
          <input type="radio" id="rate4" name="review[rating]" value="4" />
          <label for="rate4" title="Very good">4 stars</label>
          <input type="radio" id="rate5" name="review[rating]" value="5" />
          <label for="rate5" title="Amazing">5 stars</label>
        </fieldset>
        <!-- <label for="rating" class="form-label">Rating:</label>
        <input type="range" name="review[rating]" id="rating" min="0" max="5" class="form-range" required> -->
      </div>
      <div class="mb-3">
        <div class="form-label"><label for="body">Review</label></div>
        <textarea name="review[body]" id="body" cols="30" rows="5" class="form-control" required></textarea>
        <div class="valid-feedback">Looks good</div>
        <div class="invalid-feedback">Please write a comment</div>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <% } %>


    <div>
      <% for( let review of campground.reviews) { %>
      <div class="card mb-3">
        <div class="card-header">
          <p class="starability-result" data-rating="<%= review.rating %>">
            Rated: 3 stars
          </p>
          <div class="card-subtitle"> <%= review.author.username %></div>
        </div>
        <div class="card-body">
          <p class="card-text">
            <strong>Review:</strong>
          </p>
          <p class="card-text">
            <%= review.body %>
          </p>
        </div>
        <% if (currentUser && review.author.equals(currentUser._id)) { %>
        <div class="card-footer text-end">
          <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
        <% } %>
      </div>

      <% } %>
    </div>
  </div>

</div>

<script>
  const mapToken = '<%-process.env.MAPBOX_PB_TOKEN%>';
  const campground = <%-JSON.stringify(campground) %>;

</script>

<script src="/js/campgroundMap.js"></script>
